<div class="d3-pie-charts container">
  <div class="chart-container">
    <div class="select">
      <select (change)="getAccidents()" #selectYear class="" id="select_year">
        <option *ngFor="let year of yearsList" value="{{year}}" id="{{year}}">{{(year == -1) ? "All Time" : year}}</option>
      </select>
    </div>
    <h2>10 Most Recorded Locations</h2>
    <div *ngIf="!accidentLocationCountsDisplay" class="loader text-center">
      <app-svg-spinner></app-svg-spinner>
    </div>
    <ngx-charts-pie-chart *ngIf="!toggled && accidentLocationCountsDisplay"
                          [view]="view"
                          [scheme]="colorScheme"
                          [results]="accidentLocationCountsDisplay"
                          [gradient]="gradient"
                          [legend]="showLegend"
                          [labels]="showLabels"
                          [legendPosition]="legendPosition"
                          [labels]="showLabels"
                          [doughnut]="isDoughnut">
    </ngx-charts-pie-chart>

    <ngx-charts-pie-grid *ngIf="toggled && accidentLocationCountsDisplay"
                         [view]="view"
                         [scheme]="colorScheme"
                         [results]="accidentLocationCountsDisplay">
    </ngx-charts-pie-grid>
    <div class="input-container">
      <button class="btn btn-dark" (click)="toggleChart()" type="button">Toggle Chart</button>
    </div>
  </div>

  <div class="table-container">
    <table class="table table-striped">
      <thead>
        <tr>
          <!--<th>#</th>-->
          <th>Location</th>
          <th>Accident Count</th>
        </tr>
      </thead>
      <tbody>
        <tr class="highlight" *ngFor="let accident of accidentLocationCounts">
          <!--<td>{{ accident.position }}</td>-->
          <td>{{ accident.name }}</td>
          <td>{{ accident.value }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
