    <h2>Event Summaries</h2>

    <p>The following is a list of the latest aviation incidents and accidents as reported by the NTSB.</p>

    <div *ngIf="!events.length">
      <app-svg-spinner></app-svg-spinner>
    </div>

    <p-table 
    *ngIf="events.length" 
    [value]="events" 
    styleClass="p-datatable-striped"
    [rowHover]="true"
    >

    <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="ntsbNumber">Event<p-sortIcon field="ntsbNumber"></p-sortIcon></th>
          <th pSortableColumn="eventDate">Event Date<p-sortIcon field="eventDate"></p-sortIcon></th>
          <th pSortableColumn="eventType">Event Type<p-sortIcon field="eventType"></p-sortIcon></th>
          <th pSortableColumn="make">Aircraft Type<p-sortIcon field="make"></p-sortIcon></th>
          <th pSortableColumn="location">Location<p-sortIcon field="location"></p-sortIcon></th>
          <th pSortableColumn="injurySeverity">Severity<p-sortIcon field="injurySeverity"></p-sortIcon></th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-event>
        <tr class="highlight" [routerLink]="['/event-details', event.eventId]">
          <td>{{ event.eventNumber }}</td>
          <td>{{ event.eventDate | date:'MM/dd/yyyy' }}</td>
          <td>{{ event.investigationType }}</td>
          <td>
            <div *ngFor="let aircraft of event.aircraft">{{ aircraft.make }} {{ aircraft.model }}</div>
          </td>
          <td>{{ event.location }}
          <td [ngClass]="{
              'fatal-injury': (event.injurySeverity.includes('Fatal (')),
              'non-fatal-injury': (event.injurySeverity === 'Non-Fatal'),
              'serious-injury': (event.injurySeverity === 'Serious'),
              'minor-injury': (event.injurySeverity === 'Minor')
            }">
            {{ event.injurySeverity }}
          </td>
        </tr>
      </ng-template>
    </p-table>

