.globe {
  filter: invert(100%);
}

h2 {
  padding: 0.75rem;
}

.highlight:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
}

th {
    cursor: pointer;
}

  .fatal-injury {
    color: var(--fatal-color);
  }
  
  .non-fatal-injury {
    color: var(--non-fatal-color)
  }
  
  .serious-injury {
    color: var(--serious-color);
  }
  
  .minor-injury {
    color: var(--minor-color);
  }
  
  :host ::ng-deep .p-datatable .p-datatable-tbody > tr > td
  {
    padding: .5em .5em !important;
  }

  :host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
    padding: .75em .75em !important;
  }

  :host ::ng-deep .p-datatable .p-datatable-tbody > tr {
    background: #2a323d5c;
  }
