    <h1 id="tableLabel">Event Summaries</h1>

    <p>The following is a list of the latest aviation incidents and accidents as reported by the NTSB.</p>

    <div *ngIf="!events">
      <app-svg-spinner></app-svg-spinner>
    </div>

    <table *ngIf="events" class="table table-striped">
      <thead>
        <tr>
          <th>Event #</th>
          <th>Event Date</th>
          <th>Event Type</th>
          <th>Aircraft Type</th>
          <th>Location</th>
          <th>Severity</th>
        </tr>
      </thead>
      <tbody>
        <tr class="highlight" *ngFor="let event of events" [routerLink]="['/event-details', event.eventId]">
          <td>{{ event.ntsbNumber }}</td>
          <td>{{ event.eventDate | date:'MM/dd/yyyy' }}</td>
          <td>{{ event.eventType }}</td>
          <td>{{ event.make }} {{ event.model }}</td>
          <td>{{ event.location }}
          <td [ngClass]="{
              'fatal-injury': (event.injurySeverity.includes('Fatal (')),
              'non-fatal-injury': (event.injurySeverity === 'Non-Fatal'),
              'serious-injury': (event.injurySeverity === 'Serious'),
              'minor-injury': (event.injurySeverity === 'Minor')
            }">
            {{ event.injurySeverity }}
          </td>
        </tr>
      </tbody>
    </table>

