.table {
    font-size: 1rem;
}

.globe {
  filter: invert(100%);
}

.highlight:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
}

th {
    cursor: pointer;
}

  th:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }

  .fatal-injury {
    color: var(--fatal-color);
  }
  
  .non-fatal-injury {
    color: var(--non-fatal-color)
  }
  
  .serious-injury {
    color: var(--serious-color);
  }
  
  .minor-injury {
    color: var(--minor-color);
  }
  
  