.loadingText {
  padding-top: 25px;
}

.spinner {
  padding-top: 200px;
}

h1 {
  padding: 25px;
}

h2 {
  padding: 10px;
  text-align: left;
  background-color: #2a323d5c;
}

.mapStyle {
  width: 100%;
  height: 400px;
}

.table th,
.table td {
  padding: 0.5em;
  text-align: left;
  font-size: var(--default-font-size);
}

.aircraftImage {
  width: 100%;
  height: 25vw;
  object-fit: cover;
  height: 500px;
}

.aircraftAlternateName {
  font-size: 0.8em;
  padding-left: 10px;
}

.narrative {
  white-space: pre-line;
  text-align: left;
  font-size: 1em;
  color: red;
}

td {
  color: var(--light);
}

.fatal-injury {
  color: var(--fatal-color);
}

.non-fatal-injury {
  color: var(--non-fatal-color);
}

.serious-injury {
  color: var(--serious-color);
}

.minor-injury {
  color: var(--minor-color);
}

#injuriesTable {
  td {
    text-align: center;
  }
  th {
    text-align: center;
  }
}
