<p class="p-3">
  <small><a [routerLink]="['/events']">&lt;- Back to Event List</a></small>
</p>

<div *ngIf="loading" class="spinner">
  <app-svg-spinner></app-svg-spinner>
</div>

<div *ngIf="event">

  <div class="page-title">Event Details - {{ event.eventNumber }}</div>

  <div class="section-title">Event</div>

  <div>
    <table class="table table-striped text-light">
      <tr>
        <td>
          <div>Location</div>
        </td>
        <td class="col-value">
          <div class="col-value">{{ event.location }}</div>
        </td>
        <td><div>ID #</div></td>
        <td>
          <div class="col-value">{{ eventId }}</div>
        </td>
      </tr>
      <tr>
        <td><div>Date</div></td>
        <td><div class="col-value">{{ event.eventDate | date: "MM/dd/yyyy" }}</div></td>
        <td><div class="col-title">Time</div></td>
        <td><div class="col-value">{{ event.eventTime }}</div></td>
      </tr>
      <tr>
        <td><div>Injury Severity</div></td>
        <td
          [ngClass]="{
            'fatal-injury': event.injurySeverity.includes('Fatal ('),
            'non-fatal-injury': event.injurySeverity === 'Non-Fatal',
            'serious-injury': event.injurySeverity === 'Serious',
            'minor-injury': event.injurySeverity === 'Minor'
          }"
        >
          <div class="col-value">{{ event.injurySeverity }}</div>
        </td>
        <td><div>Airport</div></td>
        <td>
          <div class="col-value">
          {{
            event.airportName
              ? event.airportName + " " + event.airportCode
              : "n/a"
          }}
          </div>
        </td>
      </tr>
      <tr>
        <td>Event Type</td>
        <td><div class="col-value">{{ event.eventType }}</div></td>
        <td>Weather Condition</td>
        <td><div class="col-value">{{ event.weatherCondition ? event.weatherCondition : 'Unknown' }}</div></td>
      </tr>
      <tr *ngIf="event.latitude || event.longitude">
        <td><div>Latitude</div></td>
        <td><div class="col-value">{{ event.latitude }} ({{ event.latitudeDecimal }})</div></td>
        <td><div>Longitude</div></td>
        <td><div class="col-value">{{ event.longitude }} ({{ event.longitudeDecimal }})</div></td>
      </tr>
    </table>
  </div>

  <div class="section-title">Aircraft</div>

  <app-event-details-aircraft
    [eventAircraft]="event.aircraft"
  ></app-event-details-aircraft>

  <!---------- INJURIES ----------->

  <div class="section-title">Injuries</div>

  <table id="injuriesTable" class="table table-striped">
    <tr>
      <th>Fatal</th>
      <th>Serious</th>
      <th>Minor</th>
      <th>Uninjured</th>
    </tr>
    <tr>
      <td>
        {{ event.totalFatalInjuries || 0 }}
      </td>
      <td>
        {{ event.totalSeriousInjuries || 0 }}
      </td>
      <td>
        {{ event.totalMinorInjuries || 0 }}
      </td>
      <td>
        {{ event.totalUninjured || 0 }}
      </td>
    </tr>
  </table>

  <div *ngIf="!narrativeLoaded">
    <app-svg-spinner></app-svg-spinner>

    <div class="loadingText">
      Loading the full report information ... please wait.
    </div>
  </div>

  <div *ngIf="narrativeLoaded && !narrative">
  <div class="section-title">Factual Narrative</div>
    <h5>
      No factual narrative available.
    </h5>
  </div>


  <div *ngIf="narrative">
    <div *ngIf="narrative.factualNarrative">
      <p class="narrative text-light">{{ narrative.factualNarrative }}</p>
    </div>

    <div *ngIf="narrative.narrativeSummary">
      <div class="section-title">Narrative Summary</div>
      <p class="narrative text-light">{{ narrative.narrativeSummary }}</p>
    </div>

    <div *ngIf="narrative.probableCause">
      <div class="section-title">Probable Cause</div>
      <p class="narrative text-light">{{ narrative.probableCause }}</p>
    </div>
  </div>

  <!--- GOOGLE MAP --->
  <div *ngIf="event.latitude && event.longitude">
    <div class="map-container">
      <div class="map">
        <div class="section-title">
          <span class="mapHeader">Event Location</span
          ><small class="text-muted">
            - {{ event.latitude }} / {{ event.longitude }} ({{
              event.latitudeDecimal
            }}
            / {{ event.longitudeDecimal }})</small
          >
        </div>
        <div class="card mt-3">
          <div id="map-body" class="card-body">
            <!-- <div id="myMap" style="position:relative;width:1000px;height:800px;"></div> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <br />

  <div>
    <div class="section-title">
      <div class="section-title">
        Aircraft Image
        <span>
          <small class="text-muted">
            - {{ event.aircraft[0].make }} {{ event.aircraft[0].model }}</small
          >
          <span *ngIf="aircraftImage && aircraftRenamed">
            <span class="aircraftAlternateName">
              ({{ aircraftImage.renamedAircraft }})
            </span>
          </span>
        </span>
      </div>
    </div>

    <div class="card mt-3">
      <div class="card-body">
        <img
          *ngIf="aircraftImage && aircraftImage.imageUrl"
          src="{{ aircraftImage.imageUrl }}"
          class="aircraftImage"
        />
        <div
          *ngIf="
            (!aircraftImage) ||
            (!aircraftImage.imageUrl) ||
            (!aircraftImage.imageUrl.includes('wikipedia'))
          "
        >
          <div>
            No image found for {{ event.aircraft[0].make }}
            {{ event.aircraft[0].model }}. We'll get one!
          </div>
        </div>
      </div>
    </div>
  </div>

  <p class="p-3">
    <small><a [routerLink]="['/events']">&lt;- Back to Event List</a></small>
  </p>
</div>

<div id="myMap" style="position:relative;width:1000px;height:800px;"></div>
