<div class="container">
  <div class="number-cards">
    <h3>Top Events By Type - {{ year }}</h3>
    <div *ngIf="!eventsByType" class="loader text-center">
      <app-svg-spinner></app-svg-spinner>
    </div>
    <div class="chart">
      <ngx-charts-bar-horizontal
      [view]="view"
      [results]="eventsByType"
      [xAxis]="true"
      [yAxis]="true"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel">
    </ngx-charts-bar-horizontal>
    </div>
  </div>
</div>
