
.mapStyle {
    width:100%;
    height: 70vh;
  }

  .mapHeader {
      padding-right: 20px;
  }

.control-label {
    display: block;
    font-size: 16px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #2c3e50;
    background-image: none;
  }
  /* Remove IE arrow */
  select::-ms-expand {
    display: none;
  }
  /* Custom Select */
  .select {
    position: relative;
    display: inline-block;
    width: 17%;
    height: auto;
    line-height: 3;
    overflow: hidden;
    border-radius: .25em;
    border: 2px solid #4E5D6C;
  }

  @media (max-width: 875px) {
    .select {
        width: 90%;
      }
  }
  select {
    flex: none;
    padding: 0 .5em;
    color: #fff;
    cursor: pointer;
    width: 100%;
  }
  /* Arrow */
  .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #34495e;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }
  /* Transition */
  .select:hover::after {
    color: #f39c12;
  }

  h2 {
    text-transform: uppercase;
    letter-spacing: 5px;
  }

  .loader {
    display: inline-block;
    width: auto;
    position: relative;
    bottom: 1.5rem;
  }

  .full-opacity {
    opacity: 1;
    pointer-events: all;
  }

  .slight-opacity {
    opacity: 0.2;
    pointer-events: none;
  }

  div.infoWindowClass {
      color: red;
  }
