a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}

.container {
  max-width: 1200px;
}

@media (min-width: 991px) {
  .navbar-collapse {
    display: block!important;
  }
}

.navbar-nav {
  float: right;
}

@media (max-width: 500px) {
  .navbar-nav {
    float: none;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.logo {
    height: 50px;
    padding-right: 25px;
}

.navbar {
    font-size: 1.2rem;
}

.navbar-brand {
  font-size: 2rem;
}

li {
    padding: 10px;
}

input, button {
  border-radius: 5px;
}

button {
  border: 1px solid #25AAE1;
}

button.btn:hover {
  background-color: rgba(37,170,225, 0.1);
}