.container {
  max-width: 1200px;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

@media (min-width: 991px) {
  .navbar-collapse {
    display: block!important;
  }
}

.navbar-nav {
  float: right;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.navbar {
    font-size: 1.2rem;
}

.navbar-brand {
  font-size: 2rem;
}

li {
    padding: 10px;
}