<div class="container">
  <div class="page-wrap">
    <h3>
      Accident Details - {{ eventId }}
    </h3>

    <p>
      <small><a [routerLink]="['/accidents']">&lt;- Back to Accident List</a></small>
    </p>

    <div *ngIf="!accident">
      <app-svg-spinner></app-svg-spinner>
    </div>

    <div *ngIf="accident">

      <h5 *ngIf="accident.accidentTitle">{{ accident.accidentTitle }}</h5>

      <table class='table table-striped'>
        <tr>
          <td>
            <b>Location</b>
          </td>
          <td>
            {{ accident.location
        }}
        </td>
        <td><b>Accident Number</b></td>
        <td>
          {{ accident.accidentNumber }}
        </td>
        </tr>
        <tr>
          <td><b>Date</b></td>
          <td>{{ accident.eventDate | date:'MM/dd/yyyy' }}</td>
          <td><b>Registration</b></td>
          <td> {{ accident.registrationNumber }}</td>
        </tr>
        <tr>
          <td><b>Aircraft</b></td>
          <td>{{ accident.make }} {{ accident.model }}</td>
          <td><b>Aircraft Damage</b></td>
          <td [ngClass]="{
                'destroyedClass': (accident && accident.aircraftDamage && accident.aircraftDamage.includes('Destroyed')),
                'substantialClass': (accident && accident.aircraftDamage && accident.aircraftDamage.includes('Substantial'))
              }">
            {{ accident.aircraftDamage }}
          </td>
        </tr>
        <tr>
          <td><b>Injury Severity</b></td>
          <td [ngClass]="{
                'fatalClass': (accident.injurySeverity.includes('Fatal(')),
                'nonFatalClass': (accident.injurySeverity === 'Non-Fatal'),
                'unavailableClass': (accident.injurySeverity === 'Unavailable')
              }">
            {{ accident.injurySeverity }}
          </td>
          <td><b>Airport</b></td>
          <td> {{ accident.airport }} {{ accident.airportCode }}</td>
        </tr>
        <tr>
          <td><b>Aircraft Category</b></td>
          <td>{{ accident.aircraftCategory }}</td>
          <td><b>Number of Engines</b></td>
          <td> {{ accident.numberOfEngines }}</td>
        </tr>
        <tr>
          <td><b>Engine Type</b></td>
          <td>{{ accident.engineType }}</td>
          <td><b>FAR Description</b></td>
          <td> {{ accident.farDescription }}</td>
        </tr>
        <tr *ngIf="accident.schedule || accident.purposeOfFlight">
          <td><b>Schedule</b></td>
          <td>{{ accident.schedule }}</td>
          <td><b>Purpose of Flight</b></td>
          <td> {{ accident.purposeOfFlight }}</td>
        </tr>
        <tr *ngIf="accident.airCarrier || accident.weatherCondition">
          <td><b>Air Carrier</b></td>
          <td>{{ accident.airCarrier }}</td>
          <td><b>Weather Condition</b></td>
          <td> {{ accident.weatherCondition }}</td>
        </tr>
        <tr>
          <td><b>Broad Phase of Flight</b></td>
          <td>{{ accident.broadPhaseOfFlight}}</td>
          <td><b>Report Status</b></td>
          <td> {{ accident.reportStatus }}</td>
        </tr>
        <tr *ngIf="accident.latitude || accident.longitude">
          <td><b>Latitude</b></td>
          <td>{{ accident.latitude }}</td>
          <td><b>Longitude</b></td>
          <td>{{ accident.longitude }}</td>
        </tr>
        </table>
</div>

    <!---------- INJURIES ----------->
    <div *ngIf="accident && (accident.totalFatalInjuries || accident.totalSeriousInjuries || accident.totalMinorInjuries || accident.totalUninjured)">
      <table class='table table-striped'>
        <thead>
          <tr>
            <th class="fatalHeader">
              Fatal
            </th>
            <th class="seriousHeader">
              Serious
            </th>
            <th class="minorHeader">
              Minor
            </th>
            <th class="uninjuredHeader">
              Uninjured
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              {{ accident.totalFatalInjuries || 0 }}
            </td>
            <td>
              {{ accident.totalSeriousInjuries || 0 }}
            </td>
            <td>
              {{ accident.totalMinorInjuries || 0 }}
            </td>
            <td>
              {{ accident.totalUninjured || 0 }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="!accidentDetails">
      <div class="loadingContainer">
        <app-svg-spinner></app-svg-spinner>
        <span class="loadingText">Loading the full report information ... please wait.</span>
      </div>
    </div>
    <div *ngIf="accidentDetails && accidentDetails.Analysis !== 'No report currently issued.'">
      <div *ngIf="reportIssued && accidentDetails.analysis">
        <h4>Analysis</h4>
        <p [innerHTML]="accidentDetails.analysis">
        </p>
      </div>
      <div *ngIf="loadingComplete && reportIssued && accident.reportingCountryCode === 'US'">
        <h4>
          NTSB Link
        </h4>
        <p>
          <a href="https://app.ntsb.gov/pdfgenerator/ReportGeneratorFile.ashx?EventID={{ eventId
              }}&AKey=1&RType=HTML&IType=FA" target="_blank" rel="noopener">
            National Transportation Safety Board Aviation Accident Report
          </a>
        </p>
      </div>

      <div *ngIf="loadingComplete && !reportIssued">
        <h4>
          NTSB Link
        </h4>
        <p>
          No NTSB report has been issued at this time.
        </p>
      </div>

      <!--- GOOGLE MAP --->
      <div *ngIf="accident && accident.latitude && accident.longitude">
        <div class="map-container">
          <div class="map">
            <h2>
              <span class="mapHeader">Accident Location</span><small class="text-muted">{{ accident.latitude}} / {{accident.longitude}}</small>
            </h2><div class="card mt-3">
              <div class="card-body">
                <div #mapRef class="mapStyle"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <br />

      <div *ngIf="aircraftImage">

        <h2>
          <span class="mapHeader">Aircraft Image</span>
          <span *ngIf="accident">
            <small class="text-muted">
              <span>{{ accident.make }} {{ accident.model }}</span>
              <span *ngIf="aircraftImage && aircraftRenamed">
                <span class="aircraftAlternateName">
                  ({{ aircraftImage.renamedAircraft }})
                </span>
              </span>
            </small>
          </span>
        </h2>

        <div class="card mt-3">
          <div class="card-body">
            <img *ngIf="aircraftImage && aircraftImage.imageUrl" src="{{ aircraftImage.imageUrl }}" class="aircraftImage">
            <div *ngIf="aircraftImage && !aircraftImage.imageUrl || !aircraftImage.imageUrl.includes('wikipedia')">
              <p>No image found for {{ accident.make }} {{accident.model}}</p>
              <p><a [routerLink]="['/contact']">Report this to us</a> and we'll get the image.</p>
            </div>
          </div>
        </div>

      </div>

      <p class="p-3">
        <small><a [routerLink]="['/accidents']">&lt;- Back to Accident List</a></small>
      </p>

    </div>
  </div>
</div>

