<div class="container">
  <div class="select">
    <select (change)="getInjuryTypesAllMonths()" #selectYear class="" id="select_year">
      <option *ngFor="let year of yearsList" value="{{year}}" id="{{year}}">{{(year == -1) ? "All Time" : year}}</option>
    </select>
  </div>
  <div class="input-container">
    <div class="custom-control custom-checkbox">
        <input type="checkbox" (click)="toggleChart()" class="checkbox" id="defaultUnchecked">
        <label class="control-label checkbox-label" for="defaultUnchecked">Toggle Chart</label>
    </div>
  </div>
  <div *ngIf="!monthlyAccidents" class="loader text-center">
      <app-svg-spinner></app-svg-spinner>
  </div>
  <div *ngIf="monthlyAccidents" class="chart-container" >
      <h2>Accidents By Month</h2>
        <ngx-charts-area-chart
            *ngIf="!toggled"
            [view]="view"
            [scheme]="colorScheme"
            [legend]="legend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxis]="xAxis"
            [yAxis]="yAxis"
            [curve]="curve"
            [gradient]="gradient"
            [showGridLines]="showGridLines"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [timeline]="timeline"
            [results]="monthlyAccidentSeries"
            (select)="onSelect($event)"
            (activate)="onActivate($event)"
            (deactivate)="onDeactivate($event)">
      </ngx-charts-area-chart>

      <ngx-charts-polar-chart
        *ngIf="!toggled"
        [view]="view"
        [scheme]="colorScheme"
        [legend]="legend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [showGridLines]="true"
        [xAxis]="xAxis"
        [yAxis]="yAxis"
        [curve]="polarCurve"
        [xAxisLabel]=""
        [yAxisLabel]="yAxisLabel"
        [results]="monthlyAccidentSeries"
        (select)="onSelect($event)">
    </ngx-charts-polar-chart>
  </div>
  <div *ngIf="monthlyAccidents" class="chart-container" >
      <ngx-charts-heat-map
          *ngIf="toggled"
          [view]="heatmapView"
          [scheme]="colorSchemeHeatmap"
          [legend]="legend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          [gradient]="gradient"
          [xAxisLabel]="Severity"
          [yAxisLabel]="Month"
          [results]="monthlyAccidentSeries"
          (select)="onSelect($event)"
          (activate)="onActivate($event)"
          (deactivate)="onDeactivate($event)">
      </ngx-charts-heat-map>

  </div>
</div>
