
.table-container {
  width: 500px;
  margin: auto;
}

/*Sticky table header*/
th {
  background-color: #2B3E50;
  position: sticky;
  top: 0;
}

h2 {
  text-align: center;
  font-size: 24px;
  margin: 15px;
}

.loader {
  display: block;
  width: fit-content;
  margin: 0 auto;
  height: 6rem;
}
