/*For text labels*/
::ng-deep .ngx-charts text {
  fill: #fff !important;
}

/*::ng-deep .ngx-charts {
  width: auto;
}*/

button.btn {
  border-radius: 5px;
}

.chart-container {
  min-height: 400px;
  display: inline-block;
  position: fixed;
}


.input-container {
  width: fit-content;
  margin: 10px auto;
  padding: 5px;
}

.table-container {
  float: right;
  width: 33%;
}


@media (max-width: 991px) {
  .chart-container {
    display: block;
    position: relative;
  }

  .table-container {
    float: none;
    display: block;
    width: 100%;
  }
}

.input-container {
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #2c3e50;
  background-image: none;
}
  /* Remove IE arrow */
  select::-ms-expand {
    display: none;
  }
/* Custom Select */
.select {
  position: relative;
  display: block;
  width: 9rem;
  height: auto;
  line-height: 3;
  overflow: hidden;
  border-radius: .25em;
  border: 2px solid #4E5D6C;
  margin: 15px auto 0;
}

@media (max-width: 875px) {
  .select {
    width: 90%;
  }
}

select {
  flex: none;
  padding: 0 .5em;
  color: #fff;
  cursor: pointer;
  width: 100%;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #34495e;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}

/* Transition */
.select:hover::after {
  color: #f39c12;
}

/*Sticky table header*/
th {
  background-color: #2B3E50;
  position: sticky;
  top: 0;
}

h2 {
  text-align: center;
  font-size: 24px;
  margin: 15px;
}

.loader {
  display: block;
  width: fit-content;
  margin: 0 auto;
  height: 6rem;
}
