<div class="container">
  <div class="select">
    <select #selectYear (change)="onChangeYear($event.target)">
      <option *ngFor="let year of yearsList" value="{{ year }}" id="{{ year }}">
        {{ year }}
      </option>
    </select>
  </div>

  <div *ngIf="loading" class="loader text-center">
    <app-svg-spinner></app-svg-spinner>
  </div>

  <div *ngIf="!loading" class="chart-container">
    <ngx-charts-area-chart
      *ngIf="injuryHeatmap"
      [view]="view"
      [scheme]="colorScheme"
      [legend]="true"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [xAxis]="true"
      [yAxis]="true"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [timeline]="true"
      [results]="injuryHeatmap"
    >
    </ngx-charts-area-chart>
  </div>

  <div *ngIf="injuryHeatmap" class="chart-container">
    <ngx-charts-heat-map
      xAxisLabel="Severity"
      yAxisLabel="Month"
      [view]="heatmapView"
      [scheme]="colorSchemeHeatmap"
      [legend]="true"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [xAxis]="true"
      [yAxis]="true"
      [results]="injuryHeatmap"
    >
    </ngx-charts-heat-map>
  </div>
</div>
