  <div class="number-cards">

    <h3>Top Events By Type - {{ year }}</h3>

    <app-select-year (yearChanged)="onChangeYear($event)"></app-select-year>

    <div *ngIf="!eventsByType">
      <app-svg-spinner></app-svg-spinner>
    </div>

    <div *ngIf="eventsByType" class="chart">
      <ngx-charts-bar-horizontal
      [view]="view"
      [results]="eventsByType"
      [xAxis]="true"
      [yAxis]="true"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel">
    </ngx-charts-bar-horizontal>
    </div>
  </div>
