  <app-select-year (yearChanged)="onChangeYear($event)"></app-select-year>

  <app-svg-spinner *ngIf="loading"></app-svg-spinner>

  <div *ngIf="!loading" class="chart-container">
    <ngx-charts-area-chart
      *ngIf="injuryHeatmap"
      [view]="view"
      [scheme]="colorScheme"
      [legend]="true"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [xAxis]="true"
      [yAxis]="true"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [timeline]="true"
      [results]="injuryHeatmap"
    >
    </ngx-charts-area-chart>
  </div>

  <div *ngIf="injuryHeatmap" class="chart-container">
    <ngx-charts-heat-map
      xAxisLabel="Severity"
      yAxisLabel="Month"
      [view]="heatmapView"
      [scheme]="colorSchemeHeatmap"
      [legend]="true"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [xAxis]="true"
      [yAxis]="true"
      [results]="injuryHeatmap"
    >
    </ngx-charts-heat-map>
  </div>
