/*For text labels*/
::ng-deep .ngx-charts text{
  fill: #fff !important;
}

::ng-deep .ngx-charts  {
  float: none !important;
}

::ng-deep ngx-charts-heat-map .ngx-charts  {
  float: left !important;
}

::ng-deep .polar-chart .pie-label-line {
  stroke: #fff!important;
}

button.btn {
  border-radius: 5px;
  height: 57px;
  margin: 15px;
}

.input-container {
  display: inline-block;
  width: fit-content;
  margin: 15px;
}

.chart-container {
    margin: 15px auto;
    width: fit-content;
}