  <h2>Most Recorded Events - By State</h2>

  <app-svg-spinner *ngIf="!stateEventCounts || !stateEventCounts.length"></app-svg-spinner>

  <div *ngIf="stateEventCounts && stateEventCounts.length" class="table-container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>State</th>
          <th class="center">Events</th>
        </tr>
      </thead>
      <tbody>
        <tr class="highlight" *ngFor="let eventCounts of stateEventCounts">
          <td>{{ eventCounts.state }}</td>
          <td class="center">{{ eventCounts.eventCount }}</td>
        </tr>
      </tbody>
    </table>
  </div>
