<h3>Advanced Search</h3>

<div class="p-grid">
    <div class="p-field p-col-12 p-md-4">
        <span class="p-float-label">
            <input type="text" id="inputtext" pInputText [(ngModel)]="model.ntsbNumber"> 
            <label for="inputtext">NTSB Event ID</label>
        </span>
    </div>
    <div class="p-field p-col-12 p-md-4">
        <span class="p-float-label">
            <p-calendar inputId="calendar" [(ngModel)]="model.eventDate"></p-calendar>
            <label for="calendar">Event Date</label>
        </span>
    </div>
</div>

<button pButton pRipple label="Search" (click)="clickSearch()"></button>

<div *ngIf="results">
    {{ results | json }}
</div>