:host ::ng-deep .p-inputtext {
    margin-top: 1rem;
    width: 20rem;
}

:host ::ng-deep .p-calendar {
    width: 20rem;
}

.p-float-label {
    width: 10rem;
}


.fatal-injury {
    color: var(--fatal-color);
  }
  
  .non-fatal-injury {
    color: var(--non-fatal-color)
  }
  
  .serious-injury {
    color: var(--serious-color);
  }
  
  .minor-injury {
    color: var(--minor-color);
  }

  .search-button {
    margin-top: 1rem;
  }

  .back-link {
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .margin-left {
    margin-left: 1rem;
  }