<div *ngFor="let aircraft of eventAircraft">
    <table class="table table-striped text-light">
    <tr>
      <td>Aircraft</td>
      <td><div class="col-value">{{ aircraft.make }} {{ aircraft.model }}</div></td>
      <td>Aircraft Damage</td>
      <td
        [ngClass]="{
          destroyedClass:
            aircraft.aircraftDamage &&
            aircraft.aircraftDamage.includes('Destroyed'),
          substantialClass:
            aircraft.aircraftDamage &&
            aircraft.aircraftDamage.includes('Substantial')
        }"
      >
      <div class="col-value">{{ aircraft.aircraftDamage }}</div>
      </td>
    </tr>
      <tr>
        <td>Registration</td>
        <td><div class="col-value">{{ aircraft.registrationNumber }}</div></td>
        <td>Aircraft Category</td>
        <td><div class="col-value">{{ aircraft.aircraftCategory }}</div></td>
      </tr>
      <tr *ngIf="aircraft.schedule || aircraft.purposeOfFlight">
        <td>Schedule</td>
        <td><div class="col-value">{{ aircraft.schedule ? aircraft.schedule : "n/a" }}</div></td>
        <td>Purpose of Flight</td>
        <td><div class="col-value">{{ aircraft.purposeOfFlight }}</div></td>
      </tr>
      <tr *ngIf="aircraft.operator">
        <td>Operator</td>
        <td><div class="col-value">{{ aircraft.operator ? aircraft.operator : "n/a" }}</div></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>