.destroyedClass {
    color: red;
}

.substantialClass {
    color: darkorange;
}

.narrative {
    white-space: pre-line;
  }

  td {
      text-align: left;
      font-size: var(--default-font-size);
  }