<div class="container">
    <h1 id="tableLabel">Accident Summaries</h1>

    <p>The following is a list of the latest aviation accidents and incidents as reported by the NTSB.</p>

    <div *ngIf="!accidents">
      <app-svg-spinner></app-svg-spinner>
    </div>

    <table *ngIf="accidents" class="table table-striped">
      <thead>
        <tr>
          <th>Accident #</th>
          <th>Event Date</th>
          <th>Aircraft Type</th>
          <th>Report Status</th>
          <th>&nbsp;</th>
          <th>Location</th>
          <th>Severity</th>
        </tr>
      </thead>
      <tbody>
        <tr class="highlight" *ngFor="let accident of accidents" [routerLink]="['/accident-details', accident.eventId]">
          <td>{{ accident.accidentNumber }}</td>
          <td>{{ accident.eventDate | date:'MM/dd/yyyy' }}</td>
          <td>{{ accident.aircraft[0].make }} {{ accident.aircraft[0].model }}</td>
          <td>{{ accident.reportStatus }}</td>
          <td>
            <span *ngIf="accident.latitude && accident.longitude"><img src="/assets/images/globe-20-height.png" class="globe" /></span>
          </td>
          <td>{{ accident.location }}
          <td [ngClass]="{
              'fatal-injury': (accident.injurySeverity.includes('Fatal (')),
              'non-fatal-injury': (accident.injurySeverity === 'Non-Fatal'),
              'serious-injury': (accident.injurySeverity === 'Serious'),
              'minor-injury': (accident.injurySeverity === 'Minor')
            }">
            {{ accident.injurySeverity }}
          </td>
        </tr>
      </tbody>
    </table>
</div>
