<div class="container">
    <h1 id="tableLabel">Accident Summaries</h1>

    <p>The following is a list of the latest aviation accidents and incidents as reported by the NTSB.</p>

    <div *ngIf="!accidents">
      <app-svg-spinner></app-svg-spinner>
    </div>

    <table *ngIf="accidents" class="table table-striped">
      <thead>
        <tr>
          <th>Accident #</th>
          <th>Event Date</th>
          <th>Event Type</th>
          <th>Aircraft Type</th>
          <th>Location</th>
          <th>Severity</th>
        </tr>
      </thead>
      <tbody>
        <tr class="highlight" *ngFor="let accident of accidents" [routerLink]="['/event-details', accident.eventId]">
          <td>{{ accident.ntsbNumber }}</td>
          <td>{{ accident.eventDate | date:'MM/dd/yyyy' }}</td>
          <td>{{ accident.eventType }}</td>
          <td>{{ accident.make }} {{ accident.model }}</td>
          <td>{{ accident.location }}
          <td [ngClass]="{
              'fatal-injury': (accident.injurySeverity.includes('Fatal (')),
              'non-fatal-injury': (accident.injurySeverity === 'Non-Fatal'),
              'serious-injury': (accident.injurySeverity === 'Serious'),
              'minor-injury': (accident.injurySeverity === 'Minor')
            }">
            {{ accident.injurySeverity }}
          </td>
        </tr>
      </tbody>
    </table>
</div>
