<div class="chart-continer">

  <h3>Injury Severity by Year - {{ year }}</h3>

  <app-select-year (yearChanged)="onChangeYear($event)"></app-select-year>

  <div>
    <input
      type="checkbox"
      (click)="toggleUninjured()"
      class="checkbox"
      id="totalCheckbox"
    />
    <label for="totalCheckbox" class="pl-2 text-muted"
      >Include Uninjured</label
    >
  </div>

  <div *ngIf="!injuryTypes" class="loader text-center">
    <app-svg-spinner></app-svg-spinner>
  </div>

  <div *ngIf="injuryTypes" class="chart-container">
    <div class="bar-chart">
      <ngx-charts-bar-vertical
        [view]="view"
        [scheme]="colorScheme"
        [results]="showWithUninjured ? singleWithUninjured : single"
        [gradient]="false"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="true"
        [showGridLines]="true"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
      >
      </ngx-charts-bar-vertical>
    </div>
    <div class="pie-chart">
      <ngx-charts-advanced-pie-chart
        [view]="view"
        [scheme]="colorScheme"
        [results]="showWithUninjured ? singleWithUninjured : single"
        [gradient]="false"
      >
      </ngx-charts-advanced-pie-chart>
    </div>
  </div>
  </div>