/*For text labels*/
::ng-deep .ngx-charts text {
    fill: #fff !important;
  }
  
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #2c3e50;
    background-image: none;
  }
    /* Remove IE arrow */
    select::-ms-expand {
      display: none;
    }
  /* Custom Select */
  .select {
    position: relative;
    display: inline-block;
    width: 9rem;
    height: auto;
    line-height: 3;
    border-radius: .25em;
    border: 2px solid #4E5D6C;
    margin: 15px auto;
  }
  
  @media (max-width: 875px) {
    .select {
      width: 90%;
    }
  }
  
  select {
    flex: none;
    padding: 0 .5em;
    color: #fff;
    cursor: pointer;
    width: 100%;
  }
  /* Arrow */
  .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #34495e;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }
  
  /* Transition */
  .select:hover::after {
    color: #f39c12;
  }
  
  button.btn {
    border-radius: 5px;
    height: 57px;
    margin: 15px;
  }
  
  .input-container {
    display: inline-block;
    width: fit-content;
    margin: 15px;
  }
  
  .container {
    text-align: center;
    margin: 0 auto;
  }
  
  .chart-container {
      margin: 15px auto;
      width: fit-content;
  }

  /* .bar-chart, .pie-chart {
      float: left;
  } */
  .number-cards, .formatted, .unformatted {
    width: fit-content;
    margin: 0 auto;
  }

  .chart-container {
    margin: 15px auto;
    width: fit-content;
}

.custom-checkbox {
  float: right;

}

.select {
  float: left;
}

.custom-checkbox:hover {
  opacity: 0.8;
  text-decoration: underline;
}

label.checkbox-label {
  position: relative;
  top: 1.5rem;
}