.chart-container {
  margin: 15px auto;
  width: fit-content;
}

/*For text labels*/
::ng-deep .ngx-charts text {
    fill: #fff !important;
  }
    
  button.btn {
    border-radius: 5px;
    height: 57px;
    margin: 15px;
  }
  
  .input-container {
    display: inline-block;
  }
  
  .number-cards, .formatted, .unformatted {
    width: fit-content;
    margin: 0 auto;
  }

.custom-checkbox {
  float: right;

}

.select {
  float: left;
}

.custom-checkbox:hover {
  opacity: 0.8;
  text-decoration: underline;
}

label.checkbox-label {
  position: relative;
  top: 1.5rem;
}