<div class="container">

  <h3>Total Accidents by Year - {{ year }}</h3>

  <div class="input-container">
    <div>
      <div class="select">
        <select (change)="onChangeYear($event.target)">
          <option
            *ngFor="let year of yearsList"
            value="{{ year }}"
            id="{{ year }}"
          >
            {{ year }}
          </option>
        </select>
      </div>
    </div>
  </div>

  <div>
    <input
      type="checkbox"
      (click)="toggleUninjured()"
      class="checkbox"
      id="totalCheckbox"
    />
    <label for="totalCheckbox" class="pl-2 text-muted"
      >Include Uninjured</label
    >
  </div>

  <div *ngIf="!injuryTypes" class="loader text-center">
    <app-svg-spinner></app-svg-spinner>
  </div>

  </div>
