@import 'assets/css/bootstrap.css';

:root {
    --fatal-color: red;
    --non-fatal-color: green;
    --serious-color: orangered;
    --minor-color: gray;
    --default-font-size: 1.1em;
}

.container {
    max-width: 1200px;
    text-align: center;
    font-size: var(--default-font-size);
}