:root {
    --fatal-color: red;
    --non-fatal-color: green;
    --serious-color: orangered;
    --minor-color: gray;
    --default-font-size: 1.1em;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: var(--default-font-size);
}

body {
    background-color: var(--surface-b);
    font-family: var(--font-family);
    color: var(--text-color);
  }
  