<div class="page-wrap">
  <div class="masthead top">
    <img class="main" src="./assets/images/airplane-cessna.svg" />
    <div class="masthead-text">
      <h1>Welcome to WingsWatch</h1>
      <h4 class="text-light">
        The go-to site for NTSB aviation incident and accident information.
      </h4>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center">
  <button type="button" class="button-events" [routerLink]="['/events']">
    <img src="./assets/images/plane-60.png" class="button-image" />
    <span class="latest"> See the latest </span>
  </button>
</div>
