.title {
    font-size: 3rem;
}

.sub-header {
    color: var(--text-color-secondary);
    font-size: 1.2rem;
    padding-top: 1rem;
}

p {
    font-size: 16px;
}

.page-wrap {
    max-width: 1200px;
    margin: 0 auto;
}

.button-image {
    height: 50px;
    margin-right: 25px;
}

button.button-events {
    background-color: var(--surface-a);
    font-size: 20px;
    padding: 15px;
    border-radius: 10px;
    border: 3px solid #25AAE1;
    color: var(--text-color-primary);
    text-transform: uppercase;
    margin-top: 1rem;
}

button.button-events:hover {
   color: #fff;
   background-color: rgba(37,170,225, 0.1);
}

.button.button-events .logo {
    height: 60px;
}

.masthead {
    padding: 30px;
    max-width: 1300px;
    margin: 0 auto;
}

.masthead-text {
    text-align: right;
    margin-top: 3em;
}

.right, .left {
    width: 40%;
    margin: 40px 25px;
    height: 150px;
    position: relative;
}

.logo-image {
    width: 40vw;
}