<div class="p-3">
  <button type="button"
          class="btn btn-secondary"
          [routerLink]="['/read-comments', secretId]">
    View Feedback
  </button>
</div>
<div class="p-3">
  <button type="button"
          class="btn btn-secondary"
          [routerLink]="['/read-logs', secretId]">
    View Logs
  </button>
</div>
<div class="p-3">
  <button type="button"
          class="btn btn-secondary"
          [routerLink]="['/delete-serialization-cache', secretId]">
    Delete Serialization Cache
  </button>
</div>
